extends layout

block content
  .hero-unit(style="margin-top: 10px;")
    h1 Welcome to my First NodeJS, Express, Jade, MongoDB, linkedIn API
    p and beyond.....
  
  h3 this are your credentials in LinkedIN
  h3 #{result.firstName} #{result.lastName}
  h4 #{result.headline}
  
   
  
