extends layout

block content
  .hero-unit(style="margin-top: 10px;")
    h1 Welcome to my First NodeJS, Express, Jade, MongoDB, linkedIn API
    p and beyond.....
    a.btn.btn-primary.btn-large(href="/auth") Start